* {
    margin: 0;
    padding: 0;
}


body {
    font-family:  Arial, Gadget, sans-serif;
    color:#282828;
    margin: 0px;

}

.nav-bar {
    background: linear-gradient(-90deg, #e198bdcf, rgba(243, 238, 148, 0.96));
    height: 60px;
    margin-bottom: 50px;
}